<div class="row">
  <div class="col-auto">
    <h2><span></span>Welcome, {{username}}!<span></span></h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Blog Post:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
       <input class="form-control form-control-lg" type="text" placeholder="Blog Title" id="blog-title" name="blog-title" aria-label=".form-control-lg example"/>
      </div>
     <div class="mb-3">
      <input class="form-control form-control-lg" type="text" placeholder="Blog Content" id="blog-desc" name="blog-desc" rows="3" aria-label=".form-control-lg example"/>
      </div> 
      </div>   
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>

  </div>

  {{#if blogs.length}}
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-dark" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>